body {
	overflow: hidden;
	margin: 0;
    padding: 0;
}

#left{
	position: absolute;
	float: left;
	width:25%;
	height:100%;
	border: 1px solid black;
	text-align: center;
	overflow: scroll;
	user-select: none;
}

#right{
	position: absolute;
	left: 25.5%;
	width: 75%;
	height:100%;
	border: 1px solid black;
	text-align: center;
	overflow: scroll;
	user-select: none;
}

#heading{
	font-weight: bold;
}

#left input{
	box-shadow: rgba(0,0,0,0.2) 3px 3px;
	width: 80%;
	height: 25px;
}

#right input{
	box-shadow: rgba(0,0,0,0.2) 3px 3px;
	width:60%;
	height: 25px;
}

.table{
	text-align: left;
	box-shadow: rgba(0,0,0,0.2) 3px 3px;
	width: 90%;
	margin-top: 10px;
	margin-left: 5%;
	font-size: 20px;
	height: 70px;
	user-select: none;
}

.items{
	text-align: left;
	box-shadow: rgba(0,0,0,0.2) 3px 3px;
	width: 90%;
	/*background-color: #f7f6f6;*/
	margin-top: 10px;
	margin-left: 5%;
	font-size: 20px;
	height: 70px;
	user-select: none;
}

.info{
	margin-top: 4px;
	margin-bottom: 2px; 
	background-color: white;
	margin-left: 2%;
	pointer-events: none;
}

strong{
	margin-left: 2%
}

#tableBox{
	height: 100vh;
	overflow: auto;
}

#itemBox{
	height: 150vh;
	overflow: auto;
}

.head{
	font-weight: bold;
	width: 50px;
}

h4 {
	text-align: right;
}

h3 {
	text-align: center;
}

.modaldiv > button {
	/*position: relative;*/
	right: 0;
	float: right;
	margin-bottom: 12px;
 }

/*modal style*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 102; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  margin: 0;
  /*padding: 0;*/
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 10;
  border: 1px solid #888;
  width: 80%;
  overflow-y: scroll;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* The Close Button */
.close {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #7B1105;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #0925F2;
  color: #FFFFFF;
}

.modal-body {
	padding: 2px 16px;
}
